<style>
    .geeks {
        width: 300px;
        height: 300px;
        overflow: hidden;
        margin: 0 auto;
    }
       
    .geeks img {
        width: 100%;
        transition: 0.5s all ease-in-out;
    }
       
    .geeks:hover img {
        transform: scale(1.1);
    }
    .geek {
        width: 300px;
        height: 300px;
        overflow: hidden;
        margin: 0 auto;
    }
       
    .geek img {
        width: 100%;
        transition: 0.5s all ease-in-out;
    }
       
    .geek:hover img {
        transform: scale(1.3);
    }

    /*
      Rollover Image
     */
    .figure {
        position: relative;
        width: 600px; /* can be omitted for a regular non-lazy image */
        max-width: 100%;
    }
    .figure img.image-hover {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      object-fit: contain;
      opacity: 0;
      transition: opacity .2s;
    }
    .figure:hover img.image-hover {
      opacity: 1;
    }

    
</style>
